$main_color: #0075FF;
$background_color: #FFFFFF;

*{
    margin:0;
    padding:0;
}

html {
    margin:0;
    padding:0;
}

body {
    padding: 0;
    margin: 0;
}

hr{
    margin:0;
    padding:0;
    color: #888897;
}

.container{
    width:100%;
}

.nav{
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content:space-around;
    width:100%;
    height: 4rem;

}

.sec-home{
    margin: 2rem;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    .start{
        max-width:20%;

        .header{

            .icon{
                margin-top:0;
                }
            }
        }
    }

    h1{
        font-size:3rem;
    }

    .sing-up{
        display:flex;
        justify-content: space-between;

        input{
            padding: 0.3rem 0.5rem;
            border-radius: 0.25rem;
            border: solid 1px #DDDDDD;
            max-width: 10rem;

            &:focus{
                box-shadow: 0 0 10px $main_color;
                border: solid 1px #DDDDDD;
                outline: none;
            }
        }

    }

.sec-call-to-action{
    margin: 4rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .call-to-action-header{
        display:flex;
        flex-direction: column;
        align-items: center;

        .description-header{
            font-size:0.8rem;
            color: #888897;
        }
    }

        .portfolio{
                display:flex;
                flex-direction:row;
                align-items: center;
                justify-content: center;
                gap: 2rem;


                .items{
                    display:flex;
                    flex-direction:column;
                    align-items: center;
                    justify-content: center;

                    .span{
                        display:flex;
                        align-items: center;
                    }

                    .item{
                        display:flex;
                        flex-direction: row;
                    }
                }

            .img-portfolio{
                max-width: 20rem;
            }
    }
}

.sec-features{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    .header-features{
        display:flex;
        align-items:center;
        flex-direction: column;
        padding: 2rem;

    }

    .items{
        display:flex;
        justify-content: space-evenly;
        gap: 2rem;
    }
}

.sec-kpis{
    display:flex;
    background-color: $main_color;
    justify-content: space-evenly;
    padding: 3rem;

    .item{
        color: $background_color;
        align-items: center;
        display:flex;
        flex-direction: column;

        .number{
            font-size: 3.5rem;
        }

        .description{
            opacity: 0.5;
            font-size: 0.8;
        }
    }
}

.sec-on-boarding{

    padding: 3rem 4rem;
    margin: 0rem 2rem;
    margin-bottom: 2rem;
    
    .header-on-boarding{
        display:flex;
        flex-direction: column;
        align-items: center;
    }


    .items{
        padding-top: 4rem;
        display:flex;
        justify-content: center;

        .separator{
            flex: 1;
            border-top: 2px solid #ddd;
            margin: 0 1rem;
            margin-top: 8rem;
        }

        }

}

.footer-cta{
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F4F8FE;
    display: flex;
    align-items: left;

    .text{
        padding: 5rem;
        max-width: 50%;
    }
}