.main-btn, .main-btn-s {
  background-color: #0075FF;
  color: #FFFFFF;
  border: solid 1px #0075FF;
  border-radius: 0.25rem;
  padding: 0.25rem 1.5rem;
}
.main-btn:hover, .main-btn-s:hover {
  background-color: #FFFFFF;
  color: #0075FF;
  border: solid 1px #0075FF;
  cursor: pointer;
}
.main-btn-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.logo {
  align-self: right;
}

.sign-in {
  border: none;
  background-color: transparent;
  padding: 0.1rem 1rem;
  font-size: 0.75rem;
}
.sign-in:hover {
  opacity: 0.5;
  cursor: pointer;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 0.75rem;
}
.main-menu li a {
  text-decoration: none;
  color: black;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm {
  font-size: 1.4rem;
  padding: 0.4rem 0.7rem;
  color: #0075FF;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  width: 30rem;
}
.feature .icon {
  color: #0075FF;
  width: 10rem;
  height: 10rem;
  font-size: 8rem;
  align-self: center;
  margin-bottom: 2rem;
}
.feature .description {
  align-self: center;
  max-width: 500px;
}
.feature .description .title {
  font-size: 2rem;
}
.feature .description .text {
  color: #888888;
  font-weight: 600;
  font-size: 0.9rem;
}
.feature .cta {
  color: #0075FF;
  font-weight: 500;
  margin-top: 3rem;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.icon-desc .icon {
  color: #0075FF;
  width: 10rem;
  height: 10rem;
  font-size: 10rem;
  align-self: center;
  padding: 0;
  margin-bottom: 4rem;
}
.icon-desc .title {
  font-weight: 600;
}

.header {
  display: flex;
  color: #0075FF;
}
.header .icon {
  width: 1rem;
  height: 1rem;
  margin-top: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
  padding: 0;
  color: #888897;
}

.container {
  width: 100%;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
}

.sec-home {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sec-home .start {
  max-width: 350px;
}
.sec-home .start .header .icon {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  max-width: 300px;
}

.description {
  max-width: 300px;
}

.sing-up {
  display: flex;
  justify-content: space-between;
}
.sing-up input {
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  border: solid 1px #DDDDDD;
  max-width: 10rem;
}
.sing-up input:focus {
  box-shadow: 0 0 10px #0075FF;
  border: solid 1px #DDDDDD;
  outline: none;
}

.sec-call-to-action {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-call-to-action .call-to-action-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-call-to-action .call-to-action-header .title-header {
  align-self: center;
  font-size: 2rem;
}
.sec-call-to-action .call-to-action-header .description-header {
  font-size: 0.9rem;
  color: #888897;
}
.sec-call-to-action .portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.sec-call-to-action .portfolio .items {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}
.sec-call-to-action .portfolio .items .span {
  display: flex;
  align-items: center;
}
.sec-call-to-action .portfolio .items .item {
  display: flex;
  flex-direction: row;
}
.sec-call-to-action .portfolio .img-portfolio {
  max-width: 20rem;
}

.sec-features {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.sec-features .header-features {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.sec-features .items {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.sec-kpis {
  display: flex;
  background-color: #0075FF;
  justify-content: space-evenly;
  padding: 3rem;
}
.sec-kpis .item {
  color: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sec-kpis .item .number {
  font-size: 3.5rem;
}
.sec-kpis .item .description {
  opacity: 0.5;
  font-size: 0.8;
}

.sec-on-boarding {
  padding: 3rem 4rem;
  margin: 0rem 2rem;
  margin-bottom: 2rem;
}
.sec-on-boarding .header-on-boarding {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-on-boarding .header-on-boarding .description {
  max-width: 500px;
}
.sec-on-boarding .items {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}
.sec-on-boarding .items .separator {
  flex: 1;
  border-top: 2px solid #ddd;
  margin: 0 1rem;
  margin-top: 8rem;
}

.footer-cta {
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #F4F8FE;
  display: flex;
  align-items: left;
}
.footer-cta .text {
  padding: 5rem;
  max-width: 700px;
}

@media (max-width: 768px) {
  .sec-on-boarding .items {
    flex-direction: column;
  }
  .sec-on-boarding .items .item {
    margin: 0;
    padding: 0;
  }
  .sec-on-boarding .items .separator {
    max-width: 0;
    max-height: 0;
    margin: 0;
  }
  .footer-cta {
    background-image: none;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
